header.page-header
	.container
		.page-header__app
			a.page-header__logo
				img.page-header__logo-image(src='images/logo-mobile.svg', width='200', height='38', alt='logo-mobile')
			//- a.page-header__logo
			//- 	img.page-header__logo-slogan(src='images/icon-mobile-menu.svg', width='24', height='18', alt='logo-menu')
			include nav
			
		
			
