
.page-header__widget
			
	.page-header__widget--left
		h2.page-header__title Функциональное питание для котов
		h3.page-header__title--small Занялся собой? Займись котом!
		button.button.header__btn Подобрать программу
		.page-header__widget--right
		img.page-header__widget-image(src='../images/index-can-desktop.png', width='522', height='499', alt='can')