nav.main-nav
	
		ul.main-nav__list.site-list
			li.site-list__item.site-list__item--active
				a Главная
			li.site-list__item
				a(href='catalog.html') Каталог продукции
			li.site-list__item
				a(href='form.html') Подбор программы