@media (min-width: 768px) {
  body {
    background: #292929 url("images/index-can-tablet.jpg") no-repeat 50% 0;
    background-size: 1178px auto;
  }
}
@media (min-width: 1200px) {
  body {
    background: #292929 url("images/index-can-mobile.png") no-repeat 50% 0;
    background-size: 1391px auto;
  }
}